.title-row {
  height: 6.5vh;
  background-color: #2b4d59;
  -webkit-text-fill-color: #ffffff;
}

.top-row {
  height: 6vh;
  background-color: #2b4d59;
  -webkit-text-fill-color: #ffffff;
}

.pre-footer-row {
  height: 3vh;
  background-color: #2b4d59;
  -webkit-text-fill-color: #ffffff;
}

.footer-row {
  height: 5vh;
  background-color: #2b4d59;
  -webkit-text-fill-color: #ffffff;
}

.sub-footer-row {
  height: 18vh;
  background-color: #2b4d59;
  -webkit-text-fill-color: #ffffff;
}

.container {
  padding-top: 10px;
  max-width: 92%;
}

.topSpace-row {
  height: 9vh;
}

.tower-row {
  height: 30vh;
}

h1 {
  font-size: 2vw;
}

h2 {
  font-size: 2.5vw;
}

h9 {
  font-weight: 375;
  font-size: 22px;
}


.home-row {
  background-color: #39998e;
  -webkit-text-fill-color: #ffffff;
}

.sign-up-box{
  height: 50px;
  background-color: rgb(43, 77, 89);
  color: white;
}

.sub-title-row {
  height: 65px;
  background-color: #2b4d59;
  -webkit-text-fill-color: #ffffff;
}

.note-block{
height: 40px;
background-color: rgb(57, 153, 142);
color: white;
font-size: 20px;
}

.homeSpacer-row {
  background-color: #39998e;
  height: 2vh;
}

.picture-row {
  background-color: #eff0eb;
  height: 1000vh;
}

.picture-contact-row{
  background-color: #eff0eb;
  height: 20px;
}

.entry-row {
  background-color: #eff0eb;
}

.entrySpacer-row {
  background-color: #eff0eb;
  height: 1vh;
}

.topSpacer-row {
  height: 1vh;
}

.change-later {
  background-color: #eff0eb;
  height: 2vh;
}

.between-button-spacer {
  background-color: #eff0eb;
  height: 4vh;
}

.in-button-spacer {
  background-color: #eff0eb;
  height: 3vh;
}

.spacer-row {
  height: 1vh;
  width: 100vw;
}

.faq-spacer {
  height: 20px;
}

.col-sm-2 {
  background-color: #ffffff;
}

.picture-row {
  height: 20%;
}

.mainfooter {
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 3vh;
  background-color: #2b4d59;
}

.nav-link {
  display: inline-block;
  font-size: 13px;
}

.nav-link:hover {
  font-size: 14px;
  text-decoration: none;
}

.nav-bar {
  height: 4vh;
}

.faq-box {
  background-color: rgb(43, 77, 89);
  width: 70%;
}

.faq-box:hover {
  background-color: rgb(57, 153, 142);
  width: 72%;
}

.faq-box:active {
  background-color: rgb(57, 153, 142);
  width: 70%;
}

.faq-box:focus {
  background-color: rgb(57, 153, 142);
  width: 72%;
}

.faq-box1 {
  background-color: rgb(57, 153, 142);
  width: 98%;
}

.faq-box1:hover {
  background-color: rgb(49, 133, 123);
  width: 100%;
}

.faq-box1:active {
  background-color: rgb(49, 133, 123);
  width: 98%;
}

.faq-box1:focus {
  background-color: rgb(49, 133, 123);
  width: 100%;
}

.question-box {
  background-color: rgb(43, 77, 89);
  overflow-x: hidden;
}

.txt-color {
  background-color: rgb(255, 220, 124);
  width: 70%;
  margin-left: 15%;
}

.custom-button {
  background-color: rgb(255, 220, 124);
  color: black;
  border-color: rgb(57, 153, 142);
}

.custom-button:hover {
  background-color: rgb(224, 194, 109);
  color: black;
  border-color: rgb(57, 153, 142);
}

.white-text {
  color: white;
  font-size: 30px;
}

.contact-us {
  background-color: rgb(43, 77, 89);
}

.contact-us-bottom {
  background-color: rgb(43, 77, 89);
}

.pre-line {
  white-space: pre-line;
}

.yellow-footer {
  color: rgb(255, 220, 124);
}

.yellow-footer:hover {
  color: rgb(224, 194, 109);
}

.dark-blue {
  color: rgb(43, 77, 89);
}

.dark-blue:hover {
  color: rgb(57, 153, 142);
}

.light-blue {
  color: rgb(57, 153, 142);
}

.light-blue:hover {
  color: rgb(43, 77, 89);
}

.some {
  text-align: left;
}